header nav {
  width: 40%;
}

.header {
  color: #fff;
  min-height: 55px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border-bottom: 1px solid var(--main-color);  */
}
.logo {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: .1rem;
  text-transform: uppercase;
  color: #9f9ba1;
}
