footer nav {
  width: 70%;
}
.footer {
  min-width: 59%;
  margin: 0 auto 0 auto;
  min-height: 55px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border-top: 1px solid var(--main-color); */
  /* background-color: var(--main-background); */
}